<div class="container fact mt-4">
    <div class="row">
        <h2 class="text-center mt-4">Dato nutritivo de la semana</h2>
        <h4 class="text-center">Las zanahorias contienen betacaroteno, que el cuerpo convierte en vitamina A.</h4>
    </div>
    <div class="row">
        <p class="space text-center">
            El betacaroteno es un pigmento vegetal que le da a las zanahorias su color naranja característico. Es un tipo de carotenoide y actúa como provitamina A, lo que significa que el cuerpo humano lo puede convertir en vitamina A (retinol), un nutriente esencial para diversas funciones vitales.   
        </p>
        <p class="space text-center">
            ¿Por qué es importante la vitamina A?
        </p>
        <p class="space text-center">
            La vitamina A es crucial para: La salud visual, especialmente la visión nocturna; El sistema inmunológico; El mantenimiento de una piel sana y mucosas; El desarrollo y crecimiento celular. 
        </p>
        <p class="space text-center">
            ¿Cómo se convierte el betacaroteno en vitamina A?
        </p>
        <p class="space text-center">   
            Cuando comés zanahorias, el intestino delgado absorbe el betacaroteno y lo convierte en vitamina A según las necesidades del cuerpo. Si ya tenés suficiente vitamina A, el cuerpo regula esta conversión y evita un exceso, lo cual no ocurre con los suplementos de vitamina A, que pueden causar toxicidad si se abusa.
        </p>
    </div>
</div>
